<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Routing name="MyRoutingConsoleAppender">
            <Routes pattern="$${ctx:ROUTINGKEY}">
                <Route>
                    <Console name="STDOUT-${ctx:ROUTINGKEY}" target="SYSTEM_OUT">
                        <PatternLayout pattern="[${ctx:ROUTINGKEY} %-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c:%L - %m%n"/>
                    </Console>
                </Route>
            </Routes>
        </Routing>
        <Routing name="MyRoutingFileAppender">
            <Routes pattern="$${ctx:ROUTINGKEY}">
                <Route>
                    <RollingFile
                            name="appender-${ctx:ROUTINGKEY}"
                            fileName="${ctx:ROUTINGKEY}/application.log"
                            filePattern="${ctx:ROUTINGKEY}/$${date:yyyy-MM-dd}/application-%d{yyyy-MM-dd}-%i.log">
                        <PatternLayout>
                            <Pattern>[${ctx:ROUTINGKEY} %-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %m%n</Pattern>
                        </PatternLayout>
                        <Policies>
                            <TimeBasedTriggeringPolicy />
                            <SizeBasedTriggeringPolicy size="10MB" />
                        </Policies>
                        <DefaultRolloverStrategy max="5" />
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Logger name="com.itkhanz" level="debug" additivity="false">
            <AppenderRef ref="MyRoutingConsoleAppender"/>
            <AppenderRef ref="MyRoutingFileAppender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="MyRoutingConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>